<footer class="footer" style="background-color: #B93131">
  <div class="container">
    <div class="copyright  typeset">
      <small id="copyright-year" class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
      <style>
        #copyright-year {
          color: #ffc300 !important;
          font-size: default 1s linear;
        }
        #copyright-year:hover {
          font-size: 16pt 1s linear;
        }
      </style>
    </div>

    {% include nav-footer.html %}
  </div>
</footer>
